.card {
  position: relative;
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 0.75em;
  box-shadow: 0px 0px 5px 0px #8d8d8d;
}

.body {
  margin: 0;
}

.metadata {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #8d8d8d;
  font-size: 0.75em;
}

.author {
  color: #81b29a;
  margin-left: 0.75em;
}

.votes {
  color: #00a312;
}

.user {
  display: flex;
  align-items: center;
}

.delete {
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
}
