.button {
  background: none;
  border: none;
  font-size: 1.75em;
  position: absolute;
  right: 11px;
  top: 12px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 2em;
    top: 12px;
    right: 20px;
  }
}
