.header {
  background-color: #81b29a;
  padding: 1em;
}

.title {
  margin: 0;
  font-size: 24px;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #e2ff00;
  text-decoration: none;
}

.link {
  text-decoration: none;
}
