.container {
  background-color: #f5f7ea;
  font-family: "Source Code Pro", monospace;
  margin-top: 23vh;
  padding-bottom: 74%;
}

.construction {
  font-size: 2em;
  margin: 0;
}

.title {
  margin: 0;
}

.description {
  color: #8d8d8d;
  margin: 0;
}
