.container {
  background-color: #f5f7ea;
  font-family: "Source Code Pro", monospace;
  margin-top: 23vh;
}

.construction {
  font-size: 2em;
  margin: 0;
}

.title {
  margin: 0;
  text-transform: uppercase;
}

.description {
  color: #8d8d8d;
  margin: 0;
}

.status {
  color: #ff5965;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 30vh;
  }
}
