.card {
  font-family: "Source Code Pro", monospace;
  background-color: #ffffff;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5%;
  box-shadow: 2px 3px 5px 0px #8d8d8d;
}

.author {
  color: #8d8d8d;
  margin-bottom: 0.25em;
  font-size: 0.75em;
}

.title {
  margin: 0.25em 0;
  font-size: 1.25em;
}
