.votes {
  text-align: right;
  font-size: 0.75em;
  padding-bottom: 0.5em;
}

.voting {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.voting p {
  margin: 0;
}
