.review {
  font-family: "Source Code Pro", monospace;
  padding: 0 0.6em;
}

.img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-size: 1.25em;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.metadata {
  color: #8d8d8d;
  font-size: 0.75em;
  margin: 0.5em 0 1em 0;
}

.metadata p {
  margin: 0;
}

.category {
  font-weight: 600;
  color: #ff5965;
}

.author {
  color: #81b29a;
}

.kicker {
  position: relative;
  top: 3px;
  font-size: 0.6em;
  margin-bottom: 0;
  color: #8d8d8d;
  padding: 0.75em 0;
}

.body {
  font-size: 0.9em;
  text-align: justify;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.img__container {
  overflow: hidden;
  max-height: 54vh;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  .review {
    width: -webkit-fill-available;
    margin: 0 2em;
  }

  .img__container {
    max-height: 66vh;
  }
}
