.review {
  font-family: "Source Code Pro", monospace;
  padding: 0 0.6em;
}

.img {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 1.25em;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.metadata {
  color: #8d8d8d;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.metadata p {
  margin: 0;
}

.category {
  font-weight: 600;
}

.author {
  color: #81b29a;
}

.kicker {
  font-size: 0.6em;
  margin-bottom: 0;
  color: #8d8d8d;
  padding: 0.75em 0;
}

.body {
  font-size: 0.9em;
  text-align: justify;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  .review {
    width: -webkit-fill-available;
    margin: 0 2em;
  }
}
